# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
# Crash logs
sysinfo.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sln
*.csproj

# Logs
*.log

# Packages
*.tgz

# Others
*.tmp
